/* Navigation toggle */

.nav-toggle {
    cursor: pointer;
    border: 0;
    width: 3em;
    height: 3em;
    border-radius: 50%;
    opacity: .9;
    transition: opacity 250ms ease;
    position: absolute;
    left: 0;
}

.nav-toggle:focus,
.nav-toggle:hover {
    opacity: .75;
}

.hamburger {
    width: 50%;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    display: block;
    margin: 0 auto;
    height: 3px;
    background-color: var(--dark-blue);
}

.hamburger::after,
.hamburger::before {
    content: "";
    width: 100%;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}